:root {
  --color-text-primeri: rgba(255, 255, 255, 0.55);
  --color-text-title: rgba(255, 255, 255, 0.9);
  --color-text-search_bar: rgba(255, 255, 255, 0.38);
  --color-text-white78: rgba(255, 255, 255, 0.78);
  --color-text-button: rgb(255, 255, 255);
  --color-border-footer: rgba(255, 255, 255, 0.15);
  --color-border-button: rgba(255, 255, 255, 0.1);
  --color-bg-button: rgb(255, 110, 48);
  --color-product-about: rgba(255, 165, 55, 0.55);
  --color-bg-item: rgba(44, 53, 61, 0.2);
  --color-bg-search_bar: rgb(40, 48, 54);
  --color-bg-categies: rgba(40, 48, 54, 0.6);
  --color-bg-primeri: rgb(30, 37, 43);
  --color-gb-category_grdient: rgba(255, 110, 48, 0.2);
  --color-bg-r_gradient: rgba(255, 73, 66, 0.2);
  --font-primeri: "Poppins";
}

body {
  font-size: 16px;
  color: var(--color-text-primeri);
  background-color: var(--color-bg-primeri);
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--font-primeri);
}
.container {
  max-width: 1254px;
  padding-inline: 15px;
  margin-inline: auto;
}
.header {
  padding-top: 26px;
}
.header-container {
  max-width: 1244px;
  display: flex;
  justify-content: center;
  gap: 193px;
  align-items: center;
}
.logo {
  font-size: 22px;
  color: var(--color-text-title);
  font-weight: 600;
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo:hover {
  text-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.logo::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.nav-link:hover {
  color: var(--color-text-white78);
}
.categories-menu {
  position: relative;
}
.submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
}
.categories-menu:hover .submenu {
  opacity: 1;
  pointer-events: all;
}
.action-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.button-login {
  font-weight: 600;
  background-color: var(--color-bg-primeri);
}
.button-login:hover {
  color: var(--color-text-white78);
}
.button-sing_up {
  font-weight: 600;
  background-color: var(--color-bg-button);
  padding: 12px 28px;
  border-radius: 8px;
  color: var(--color-text-button);
}
.button-sing_up:hover {
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.hero {
  padding-top: 58px;
  background-image: url(../img/illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.hero-content {
  width: 600px;
}
.hero-title {
  font-size: 50px;
  line-height: 1.28;
  color: var(--color-text-title);
  padding-bottom: 30px;
}
.hero-title-difference {
  color: var(--color-bg-button);
}
.hero-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  padding-bottom: 60px;
}
.hero-search {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: var(--color-bg-search_bar);
  width: 500px;
  padding: 8px 11px 8px 18px;
  gap: 13px;
}
.hero-search:hover {
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.hero-search::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}
.search-input {
  background-color: var(--color-bg-search_bar);
  flex: 1;
}

.search-button {
  background-color: var(--color-bg-button);
  border-radius: 8px;
  color: var(--color-text-button);
  padding: 12px 36px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.search-button:hover {
  box-shadow: 5px 1px 5px var(--color-border-button),
    -5px -1px 5px var(--color-border-button),
    5px -1px 5px var(--color-border-button),
    -5px 1px 5px var(--color-border-button);
}
.about-list {
  padding-top: 110px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.about-photo {
  width: 58px;
  height: 58px;
}
.about-list:has(.about-photo) {
  fill: var(--color-text-white78);
}
.about-list:has(.about-photo:hover) {
  fill: var(--color-border-button);
  transition: 0.5s;
}
.about-photo:hover {
  fill: var(--color-text-button);
  transition: 1s;
}
.category {
  padding-top: 200px;
}
.category-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.category-title {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  padding-bottom: 25px;
}
.category-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  max-width: 455px;
  margin-bottom: 110px;
}
.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  gap: 24px;
  max-width: 1224px;

  padding-bottom: 100px;
}
.category-item:nth-child(3) {
  padding-bottom: 100px;
}
.category-product {
  width: 326px;
  height: 228px;
  padding: 33px;
  box-sizing: content-box;
  border-radius: 10px;
}
.category-product:hover {
  background-color: var(--color-bg-categies);
}
.category-product:has(.like:checked) {
  transform: translateY(-20px);
  background-color: var(--color-bg-categies);
  background-image: radial-gradient(
    circle at top right,
    var(--color-gb-category_grdient) 0% 1%,
    var(--color-bg-categies) 25% 100%
  );
}
.product-grup {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-bottom: 30px;
}
.category-text-grup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 3px;
}
.product-title {
  color: var(--color-text-white78);
  font-size: 24px;
}
.product-about {
  color: var(--color-product-about);
}
.product-text {
  padding-bottom: 30px;
}
.product-action {
  display: flex;
  justify-content: center;
}
.action-interaction {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-grow: 1;
  align-items: center;
}
.like {
  appearance: none;
  width: 42px;
  height: 42px;
  background-image: url(../img/like_fff.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  border-radius: 10px;
}

.like:checked {
  background-image: url(../img/like_red.svg);
  background-color: var(--color-bg-search_bar);
}
.like:hover {
  background-color: var(--color-bg-search_bar);
}
.product-saved {
  width: 42px;
  height: 42px;
  background-image: url(../img/button_saved.svg);
  background-color: inherit;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
.product-saved:hover {
  background-color: var(--color-bg-search_bar);
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.product-saved:active {
  width: 42px;
  height: 42px;
  background-image: url(../img/button-saved_all.svg);
  background-color: inherit;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-color: var(--color-bg-search_bar);
}
.product-link {
  padding-top: 10px;
  padding-inline: 25px;
  align-items: center;
}
.product-link:hover {
  background-color: var(--color-bg-button);
  border-radius: 5px;
  padding-top: 10px;
  padding-inline: 25px;
  color: var(--color-text-button);
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.category-button {
  font-size: 20px;
  padding: 17px 38px;
  color: var(--color-bg-button);
  background-color: var(--color-bg-primeri);
  border: 1px solid var(--color-border-button);
  border-radius: 8px;
}
.category-button:hover {
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.collaborations {
  padding-top: 212px;
}
.collaborations-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-item);
  padding: 55px 82px;
  border-radius: 25px;
  content: "";
  background-image: radial-gradient(
    circle at top left,
    var(--color-bg-r_gradient) 0% 5%,
    var(--color-bg-item) 12% 100%
  );
}
.collaborations-list {
  display: flex;
  justify-content: center;
  gap: 107px;
}
.collaborations-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-text-title);
  padding-bottom: 55px;
}
.helper {
  padding-top: 190px;
}
.helper-content {
  display: flex;
}
.helper-grup {
  height: 300px;
}
.helper-title {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  padding-bottom: 30px;
}
.helper-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  width: 427px;
  padding-bottom: 60px;
}
.helper-button {
  background-color: var(--color-bg-button);
  padding: 16px 40px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-text-button);
}
.helper-button:hover {
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.helper-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 25px;
}
.helper-item:nth-child(-2 + n) {
  padding-bottom: 50px;
}
.helper-produkt {
  width: 288px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 21px;
}
.helper-produkt:hover {
  background-color: var(--color-bg-categies);
  border-radius: 10px;
}
.helper-produkt:has(.like:checked) {
  transform: translateY(-20px);
  background-color: var(--color-bg-categies);
  border-radius: 10px;
  background-image: radial-gradient(
    circle at top right,
    var(--color-gb-category_grdient) 0% 1%,
    var(--color-bg-categies) 15% 100%
  );
}
.helper-text-grup {
  width: 101px;
}
.helper-product-action {
  width: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helper-action-interaction {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-grow: 1;
}
.helper-product-link {
  padding: 9px 35px;
}
.helper-produkt:has(.like:checked) .helper-product-link {
  color: var(--color-text-button);
  background-color: var(--color-bg-button);
  border-radius: 5px;
}
.helper-product-link:hover {
  color: var(--color-text-button);
  background-color: var(--color-bg-button);
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
  border-radius: 5px;
}
.team {
  padding-top: 200px;
}
.team-container {
  display: flex;
  align-items: center;
}
.team-button-left {
  background-color: inherit;
  width: 12px;
  padding: 12px 24px;
  height: 24px;
  background-image: url(../img/button-left.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.team-button-left:hover {
  width: 12px;
  height: 24px;
  background-image: url(../img/button-left_hover.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-teammate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  padding-inline: 140px;
}

.teammate-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 50px;
  content: "";
  background-image: url(../img/team_“.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 50px;
}
.teammate-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.01em;
  color: var(--color-text-white78);
  width: 450px;
  display: flex;
}
.team-button-right {
  background-color: inherit;
  width: 12px;
  padding: 12px 24px;
  height: 24px;
  background-image: url(../img/button-right.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.team-button-right:hover {
  width: 12px;
  height: 24px;
  background-image: url(../img/button-right_hover.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.registration {
  padding-top: 250px;
  padding-bottom: 240px;
}
.reg-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  color: var(--color-text-title);
  padding-bottom: 25px;
}
.reg-text {
  max-width: 427px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  padding-bottom: 100px;
}
.reg-container {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: var(--color-bg-search_bar);
  width: 500px;
  padding: 8px 12px 8px 24px;
}
.reg-container:hover {
  box-shadow: 5px 5px 5px var(--color-border-button),
    -5px 5px 5px var(--color-border-button);
}
.reg-line {
  background-color: var(--color-bg-search_bar);
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
}
.reg-button {
  background-color: var(--color-bg-button);
  border-radius: 8px;
  color: var(--color-text-button);
  padding: 12px 36px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.reg-button:hover {
  box-shadow: 5px 1px 5px var(--color-border-button),
    -5px -1px 5px var(--color-border-button),
    5px -1px 5px var(--color-border-button),
    -5px 1px 5px var(--color-border-button);
}
.footer {
  border-top: solid 1px var(--color-border-footer);
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer-content {
  display: flex;
  justify-content: center;
  gap: 115px;
}
.footer-logo {
  display: flex;
  padding-bottom: 25px;
  align-items: center;
}
.footer-logo::before {
  padding: 7px 9px 9px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/footer_logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-info-copyright {
  color: var(--color-text-title);
  font-weight: 500;
  padding-bottom: 20px;
}
.footer-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  width: 260px;
}
.contact-title,
.categories-title,
.company-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-text-title);
  padding-bottom: 20px;
}
.address-link,
.categories-link,
.company-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.address-link:hover,
.categories-link:hover,
.company-link:hover {
  text-shadow: 1px 1px 5px var(--color-border-button),
    -1px 1px 5px var(--color-border-button);
}
